<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link rel="stylesheet" href="about.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
            </style>
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <h1>Art Gallery of Schifferstadt</h1>
        <ul>
            <li class="elements"><a href="http://localhost:3000/">Home</a></li>
            <li class="elements" ><a href="http://localhost:3000/About">About</a></li>
            <li class="elements" ><a href="http://localhost:3000/Work">Work</a></li>
        </ul>
      </div>
      <div class="main">
        <div class="maxContainer">
        <img class="maxPic" src="images/max.jpg">
    </div>
    <div class="text">
        <p>The German artist, Max Neuwirt, was born in 1992. He began his career as a painter but soon started to incorporate other mediums into his work. He is known for his paintings, drawings, and sculptures.Max's work is often based on themes from Germany's past and he has been called "the most important German Contemporary artist of the decade."</p>
    </div>  
    </div>
</body>
</html>